ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
PAYMENT_RECEIVER=0x71e725edf23475ac80b4f2d75d9b8aa3c4a83fe9
ONE_TIME_PAYMENT_ETH=0.0002
USDG_TOKEN_ADDRESS=0x5fc5360d0400a0fd4f2af552add042d716f1d168
ONE_TIME_PAYMENT_USDG=2
